{% extends "@FOSUser/layout.html.twig" %}

{% block menu %}
<div class="login-info-box">
	<h2>Connexion</h2>
	<label id="label-register" for="log-reg-show">Connexion</label>
	<input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
</div>

<div class="register-info-box">
	<h2>Pas de compte?</h2>
	<label id="label-login" for="log-login-show">S'enregistrer</label>
	<input type="radio" name="active-log-panel" id="log-login-show">
</div>
{% endblock %}


{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
