{% trans_default_domain 'FOSUserBundle' %}

{% include('menu.html.twig') %}

<div class="white-panel">
    <div class="login-show">
        <h2>Votre compte</h2>
        <div class="fos_user_user_show">
            <p>{{ 'profile.show.username'|trans }}:
                {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}:
                {{ user.email }}</p>
        </div>
    </div>
</div>
