{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Modifier une tâche{% endblock %}

{% block body %}
<div class="col-md-12 login-sec">

    <h2 class="text-center">Modifier une tâche</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="back" href="{{ path('task_index') }}">Retour à la liste</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
