{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
<div class="col-md-12 login-sec">

    <h2 class="text-center">Créer une tâche</h1>

    {{ include('task/_form.html.twig') }}

    <a class="back" href="{{ path('task_index') }}">Retour à la liste</a>

</div>
{% endblock %}
