<div class="register-info-box">
    <h2>Menu</h2>
        <nav class="nav flex-column">

            <a class="nav-link active" href="{{ path("fos_user_profile_show") }}">Voir mon profil</a>
            <a class="nav-link" href="{{ path("fos_user_profile_edit") }}">Modifier mon profil</a>
            <a class="nav-link" href="{{ path("fos_user_change_password") }}">Modifier mon mot de passe</a>
            <a class="nav-link" href="{{ path("fos_user_security_logout") }}">Se déconnecter</a>

            <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
        </nav>
</div>
